body {
  background-color: #ECEEEE;
  margin: 0;
  font-family: sans-serif;
}

.root-container {
  margin: 0 25px;
}

.lists {
  display: flex;
  /* justify-content: space-around; */
}

.list-container:last-of-type {
  margin-right: 0px;
}

.list-container {
  width: 25%;
  margin-top: 25px;
  margin-right: 25px;
}

.list-container:nth-child(1) > .list-name-container {
  background: #8E6E96;
}
.list-container:nth-child(2) > .list-name-container {
  background: #39A59C;
}
.list-container:nth-child(3) > .list-name-container {
  background: #344759;
}
.list-container:nth-child(4) > .list-name-container {
  background: #E8741E;
}

.list-name-container {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-name {
  color: white;
  font-weight: 700;
  font-size: 25px;
}

.item-container {
  background: white;
  margin-top: 12px;
}

.item-text {
  padding: 14px 12px;
  color: rgb(62, 61, 61);
}

.new-item-button {
  margin-top: 12px;
}