body {
  background-color: #ECEEEE;
  margin: 0;
}

.root-container {
  margin: 0 25px;
}

.lists {
  display: flex;
  /* justify-content: space-around; */
}

.list-container:last-of-type {
  margin-right: 0px;
}

.list-container {
  width: 25%;
  margin-right: 25px;
  border: 1px solid black;
}

